.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  align-items: center;

  padding-top: 140px;
  padding-bottom: 85px;
}

.wrapper__photo img {
  width: 545px;
  height: 500px;
  transition: opacity 0.3s ease-in-out;
}

.wrapper__info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.wrapper__info p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 20px;
  width: 500px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
}

.background {
  position: absolute;
  left: 0;
  width: 500px;
  height: 64px;
  background-color: #421887;
  transition: top 0.3s ease-in-out;
  z-index: 0;
}

.indicator {
  position: absolute;
  left: -5px;
  width: 20px;
  height: 64px;
  background-color: #a417e5;
  border-radius: 10px;
  transition: top 0.3s ease-in-out;
  z-index: 1;
}
